
body { 
  background: url(bokeh.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  
}

h1{

text-align: center;
font-family: "Roboto Condensed", sans-serif;
font-weight: bold;

}

label{

color:black;
font-weight: bold;
}

#puutteet{



}

form{
padding-left:10px;
border-radius: 25px;
color:black;
background-color: rgb(255, 255, 255);opacity:1 !important;
padding-top: 40px;
padding-bottom: 40px;
}
